/* Reset */

*,
*::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img,
svg,
video,
picture {
    max-width: 100%;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.solid-button {
    display: inline-block;
    padding: 0.5rem 0.8rem;
    background-color: #0061FF;
    color: white;
}

/* General */

/* Header style */

.navbar {
    display: flex;
    margin: 0 1rem;
}

.navcol-left {
    flex-basis: 50%;
}

.navcol-right {
    text-align: right;
    flex-basis: 50%;
}

.navlink {
    display: inline-block;
    padding: 1.5rem 1.5rem;
    color: #646464;
    text-decoration: none;
    vertical-align: middle;
}

#main-logo {
    vertical-align: middle;
    padding: 1.5rem 1.5rem;
}

/* Main style */

.big {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
    background-color: aquamarine;
    height: 400px;
}

.bigcolumns {
    display: flex;
    align-items: center;
}

.bigcol-left {
    
    width: 400px;
    background-color: burlywood;
    height: 300px;
    border: 3px dashed black;
}

.bigcol-right {
    
    width: 400px;
    background-color: burlywood;
    height: 300px;
    border: 3px dashed black;
}

.bigger {
    flex-direction: column;
    align-items: center;
    background-color: blue;
    height: 700px;
}

.biggercolumns {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.biggercol {
    background-color: blueviolet;
    height: 600px;
    border: 3px dashed white;
    width: 200px;
}

.small {
    background-color: cornflowerblue;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.smallcolumns {
    display: flex;
    justify-content: center;
}

.smallcol-left {
    background-color: crimson;
    height: 150px;
    border: 2px dashed black;
    width: 400px;
}

.smallcol-right {
    background-color: crimson;
    height: 150px;
    border: 2px dashed black;
    width: 400px;
}

.medium {
    background-color: darkolivegreen;
    height: 500px;
    justify-content: center;
    align-items: center;
}

.mediumcolumns {
    display: flex;
    justify-content: center;
}

.mediumcol-left {
    background-color: goldenrod;
    height: 350px;
    border: 2px dashed black;
    width: 400px;
}

.mediumcol-right {
    background-color: goldenrod;
    height: 350px;
    border: 2px dashed black;
    width: 400px;
}

.cards {
    height: 250px;
    width: 700px;
    background-color: azure;
    border: 3px dashed black;
    
    display: flex;
    justify-content: space-between;

}

.card {
    width: 200px;
    height: 250px;
    border: 3px dashed black;
}

.members {
    background-color: darkseagreen;
    height: 500px;

    display: flex;
}

.squarebig {
    width: calc(100% / 3);
    border: 3px dashed black;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
}

.logo-row {
    height: 250px;
    background-color: blueviolet;
    border: 3px dashed black;
}

.questions {
    flex-direction: column-reverse;
}

.question {
    height: 100px;
    background-color: darkgray;
}

/* Footer style */

.linkbar {
    background-color: black;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botcol {
    background-color: white;
    height: 400px;
    width: 200px;
}