/* Reset */

*,
*::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img,
svg,
video,
picture {
    max-width: 100%;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.solid-button {
    display: inline-block;
    padding: 0.5rem 0.8rem;
    background-color: #0061FF;
    color: white;
}

.description {
    padding: 2rem 0;
}

h2 {
    font-size: 2.5rem;
}

.rule-small {
    background-color: white;
    border-bottom:2px solid #646464;
    width: 4vw;
    height: 2vw;
}

ul {
    list-style: none;
    padding: 2rem 0;
    line-height: 1.5rem;
}

.small-icons {
    padding-right: 0.5rem;
}

p {
    padding: 0.5rem 0;
}

h4 {
    padding: 2rem 0;
}

/* General */

/* Header style */

.navbar {
    display: flex;
    margin: 0 1rem;
}

.navcol-left {
    flex-basis: 50%;
}

.navcol-right {
    text-align: right;
    flex-basis: 50%;
}

.navlink {
    display: inline-block;
    padding: 1.5rem 1.5rem;
    color: #646464;
    text-decoration: none;
    vertical-align: middle;
}

#main-logo {
    vertical-align: middle;
    padding: 1.5rem 1.5rem;
}

/* Main style */

/* Jumbotron */

.big {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #B4D0E7;
    padding: 1rem;
}

.bigcolumns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bigcol-left {
    height: 50vh;
    width: 30vw;
}

.bigcol-right {
    position: relative;
    height: 50vh;
    width: 50vw;
}

h1 {
    font-size: 5rem;
    font-weight: 900;
    width: 80vw;
    padding: 2rem 0;
}

.fa-arrow-down {
    font-size: 3rem;
    padding: 2rem 0;
}

#jumbotron {
    position: relative;
    top: 8%;
}

#undo {
    padding: 2rem 0;
}

/* Product cards */

.bigger {
    margin-top: 10rem;
    flex-direction: column;
    align-items: center;
}

.biggercolumns {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    width: 60vw;
    gap: 3rem;
}

.biggercol {
    border: 1px solid grey;
    width: 18vw;
}

.billing {
    margin-top: 5rem;
    width: 60vw;
}

.checkbox {
    margin-right: 2.5rem;
    display: inline-block;
}

#selected {
    display: inline-block;
    border: 5px solid blue;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
}

#empty {
    display: inline-block;
    border: 2px solid grey;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
}

.billing-option {
    padding: 0 1rem;
    vertical-align: middle;
}

#business-title {
     word-spacing: 0.5rem;
     width: 60vw;
}

.card-header {
    width: 17.8vw;
    text-align: center;
    border-bottom: 1px solid grey;
    padding: 1rem 0;
}

.card-title {
    padding: 2rem 0;
}

.card-main {
    padding: 0 2rem;
}

.buy {
    padding: 2rem 0;
}

.buy-link {
    padding-left: 0.5rem;
}

.fa-check {
    padding-right: 0.5rem;
    color: #096AFF;
}
/* Contact card */

.small {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

.smallcolumns {
    display: flex;
}

.smallcol-left {
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 30vw;
    padding: 2rem;
}

.smallcol-right {
    text-align: right;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 30vw;
    padding: 2rem;
}

.small-header {
    padding: 1rem;
    width: 60vw;
    text-align: center;
    border: 1px solid grey;
}

/* Find partner */

.medium {
    background-color: darkolivegreen;
    height: 500px;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.mediumcolumns {
    display: flex;
    justify-content: center;
}

.mediumcol-left {
    background-color: goldenrod;
    height: 350px;
    border: 2px dashed black;
    width: 400px;
}

.mediumcol-right {
    background-color: goldenrod;
    height: 350px;
    border: 2px dashed black;
    width: 400px;
}

.cards {
    height: 250px;
    width: 700px;
    background-color: azure;
    border: 3px dashed black;
    
    display: flex;
    justify-content: space-between;

}

.card {
    width: 200px;
    height: 250px;
    border: 3px dashed black;
}

.members {
    background-color: darkseagreen;
    height: 500px;

    display: flex;
}

.squarebig {
    width: calc(100% / 3);
    border: 3px dashed black;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
}

.logo-row {
    height: 250px;
    background-color: blueviolet;
    border: 3px dashed black;
}

.questions {
    flex-direction: column-reverse;
}

.question {
    height: 100px;
    background-color: darkgray;
}

/* Footer style */

.linkbar {
    background-color: black;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botcol {
    background-color: white;
    height: 400px;
    width: 200px;
}