/* Reset */

*,
*::before,
::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

img,
svg,
video,
picture {
    max-width: 100%;
}

body {
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

.solid-button {
    display: inline-block;
    padding: 0.5rem 0.8rem;
    background-color: #0061FF;
    color: white;
    transform: filter 2s;
}

.solid-button:hover {
    filter: opacity(40%);
}

.outlined-button {
    display: inline-block;
    padding: 0.5rem 0.8rem;
    border: 1px solid black;
    background-color: white;
    transform: background-color 2s;
}

.outlined-button:hover {
    background-color: lightgrey;
}

.description {
    padding: 2rem 0;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    margin-bottom: 1rem;
}

h4 {
    padding: 0.5rem 0;
}

.rule-small {
    background-color: white;
    border-bottom:2px solid #646464;
    width: 4vw;
    height: 2vw;
}

.rule-medium {
    border-bottom:1px solid #646464;
    width: 6vw;
    height: 2vw;
}

.rule-big {
    border-bottom:1px solid #646464;
    width: 8vw;
    padding-top: 5rem;
}

ul {
    list-style: none;
    padding: 2rem 0;
    line-height: 2rem;
}

.small-icons {
    padding-right: 0.5rem;
}

p {
    margin: 2rem 0;
}

/* General */

/* Header style */

.navbar {
    display: flex;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navcol-left {
    flex-basis: 50%;
}

.navcol-right {
    text-align: right;
    flex-basis: 50%;
}

.navlink {
    display: inline-block;
    padding: 1.5rem 1.5rem;
    color: #646464;
    text-decoration: none;
    vertical-align: middle;
}

.navlink:hover {
    border-bottom: 2px solid darkslategrey;
}

#main-logo {
    vertical-align: middle;
    padding: 1.5rem 1.5rem;
}

/* Main style */

/* Jumbotron */

.big {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #B4D0E7;
    padding: 1rem;
    margin-top: 5rem;
}

.bigcolumns {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bigcol-left {
    height: 50vh;
    width: 30vw;
}

.bigcol-right {
    position: relative;
    height: 50vh;
    width: 50vw;
}

h1 {
    font-size: 5rem;
    font-weight: 900;
    width: 80vw;
    padding: 2rem 0;
}

.fa-arrow-down {
    font-size: 3rem;
    padding: 1rem 0;
    margin-bottom: 2rem;
}

#jumbotron {
    position: relative;
    top: 8%;
}

#undo {
    padding: 2rem 0;
}

/* Product cards */

.bigger {
    margin-top: 10rem;
    flex-direction: column;
    align-items: center;
}

.biggercolumns {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    width: 60vw;
    gap: 3rem;
}

.biggercol {
    border: 1px solid grey;
    width: 18vw;
}

.billing {
    margin-top: 5rem;
    width: 60vw;
}

.checkbox {
    margin-right: 2.5rem;
    display: inline-block;
}

#selected {
    display: inline-block;
    border: 5px solid blue;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
}

#empty {
    display: inline-block;
    border: 2px solid grey;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
}

.billing-option {
    padding: 0 1rem;
    vertical-align: middle;
}

.business-title {
     word-spacing: 0.5rem;
     width: 60vw;
}

.card-header {
    width: 17.8vw;
    text-align: center;
    border-bottom: 1px solid grey;
    padding: 1rem 0;
}

.card-title {
    padding: 2rem 0;
}

.card-main {
    padding: 0 2rem;
}

.buy {
    padding: 2rem 0;
}

.buy-link {
    padding-left: 0.5rem;
}

.fa-check {
    padding-right: 0.5rem;
    color: #096AFF;
}
/* Contact card */

.small {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.smallcolumns {
    display: flex;
}

.smallcol-left {
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 30vw;
    padding: 2rem;
}

.smallcol-right {
    text-align: right;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 30vw;
    padding: 2rem;
}

.small-header {
    padding: 1rem;
    width: 60vw;
    text-align: center;
    border: 1px solid grey;
}

/* Find partner */

.medium {
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.mediumcolumns {
    display: flex;
    justify-content: center;
}

.mediumcol-left {
    width: 35vw;
}

.mediumcol-right {
    width: 25vw;
    padding: 2rem;
    margin: 3rem 0;
}


/* Features */

.cards {
    display: flex;
    width: 60vw;
    gap: 3rem;
}

.card {
    padding: 2rem 0;
    width: 18vw;
}

.features-title {
    width: 60vw;
}

/* Discover */

.discover-title {
    margin: 4rem 0;
}

.box {
    width: 40vw;
    margin-left: 9vw;
}

/* Members */

.members {
    margin-top: 10rem;
    display: flex;
}

.squarebig {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    height: 60vh;
    background-color: #F5F5F5;
    
}

.logo-row {
    height: 30vh;
    display: flex;
}

.square-center {
    height: 25vh;
    padding: 2rem 2rem 1rem 2rem;
}

.logobox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

.logos {
    width: 8rem;
    height: 8rem;
}

.logos-florida {
    width: 5rem;
    height: 5rem;
}

.design {
    background-color: #A2D39B;
}

.arizona {
    background-color: #61082B;
}

.florida {
    background-color: #0093CE;
}

.tops {
    background-color: #FF1C1C;
}

.bycicle {
    background-color: #D5001F;
}

.heart {
    background-color: #B4D0E7;
}

.planet {
    background-color: #0D2481;
}

.channel {
    background-color: #FFD830;
}

/* Start trial */

.trial {
    background-color: #B4D0E7;
}

.trialbox {
    width: 60vw;
    margin-left: 20vw;
    padding: 8rem 0;
    position: relative
}

.trial-button {
    text-align: right;
    position: absolute;
    left: 70%;
    bottom: 50%;
    padding: 0.5rem 0.8rem;
    background-color: white;
    transform: background-color 2s;
}

.trial-button:hover {
    background-color: lightgrey;
}

.trial-title {
    color: #61082B;
}

/* FAQ */

.faq {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
}

.faq-title {
    margin-left: 9vw;
    margin-bottom: 6rem;
}

.questions {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.question {
    padding: 2rem 0;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 60vw;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.fa-chevron-down{
    padding-left: 15rem;
}

/* Footer style */

.linkbar {
    margin-top: 10rem;
    background-color: black;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.botcol {
    color: white;
}

.botcol-left {
    color: white;
    padding-top: 10rem
}

.language {
    color: #999896;
    padding: 2rem 0;
}

.fa-earth-americas {
    padding-right: 1rem;
}
.fa-caret-up {
    padding-left: 0.3rem;
}

